header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: rgb(8, 77, 73);
}

.logo {
  cursor: pointer;
  margin: 0 auto 0 0;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover {
  color: #00b4d8;
}
